body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:darkslategray;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: darkslategray;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: darkslategray;

}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: darkslategray;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

#deleteTicketsBtn {
    background-color: darkslategray;
    margin-top: 20px;
}

#deleteTicketsBtn:hover {
    background-color: #bd2130;
}